<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JCWebViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FA0FFB41DB75FDE00BC0DEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FA0FFCD1DB75FDF00BC0DEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FA0FFD81DB75FDF00BC0DEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
